<!DOCTYPE html>
<html>
  <head>
    <title>Fetch URL</title>
  </head>
  <body>
    <h1>Fetch data from URL</h1>
    <form action="/api/v1/fetch" method="GET">
      <label for="url">URL:</label>
      <input type="text" name="url">
      <input type="submit">
    </form>
  </body>
</html>
